@import "variables";
@import "setup";
@import "topography";

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 125%;
}
.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $black;
}
a:hover {
  color: $white;
}
a:focus-within,
a:focus,
a:active {
  color: $white !important;
}

li {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
}
button:hover,
button:focus {
  background-color: $accent;
}

/*HEADER*/
header {
  background-color: $primary3;
}

.mainNav {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    a {
      padding: 0 30px;
    }
  }
}

.subMenu {
  height: 0;
  overflow: hidden;
  position: absolute;
}

.mainNav li:nth-child(3) {
  font-size: 2rem;
}

.headerFlex {
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: space-between;
}

.headerImg {
  box-shadow: 30px 10px white;
  transform: translateY(10%);
  width: 40%;
}

.headerText h1 {
  font-size: 6rem;
  font-weight: 700;
}
.headerText {
  position: relative;
  padding-right: 100px;
}

.headerTextImg {
  position: absolute;
  top: 18px;
  right: 43px;
  img {
    width: 90%;
  }
}

/*section ONE */
.sectionOne {
  background-color: $primary4;
}
.sectionOneFloat {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 100px;
}

.nofloat {
  width: 50%;
  h2 {
    margin-top: 100px;
  }
  p {
    padding: 40px 0;
  }
}

/*section two*/
.sectionTwoHome {
  background: url(.././harper-designAndAssets/assets/home-image-2.jpg);
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*SECTION THREE*/
.sectionThreeHome {
  background-color: $primary4;
}
.gridTime {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
}

.iconContainer {
  display: flex;
  i {
    font-size: 1.2rem;
    padding: 20px;
    background-color: $primary3;

    position: relative;
    border-radius: 50%;
    top: -19px;
    right: 12px;
  }
}

.test2 h3 {
  margin-bottom: 20px;
}
.threePad {
  padding: 70px 0;
}

/* Section 4*/
.waveImg {
  background-color: $primary2;
  transform: translateY(-5%);
}
.waveImgOne {
  background-color: $primary2;
  transform: translateY(5%);
}
.gridTime1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
}
.babyWrapper {
  max-width: 600px;
  width: 90%;
  margin-left: auto;
}
.babyWrapper1 {
  max-width: 600px;
  width: 90%;
}

.waveImgBox {
  img {
    transform: translate(-10px, -20px);
  }
}

.waveImgBox2 {
  img {
    transform: translate(-2%, -5%);
  }
}
/*what annnn annoyance*/
.btnAlignRight {
  text-align: right;
}

/*-------IMAGES IN SECTION$*/

.bgColor {
  background-color: $primary1;
}
/*-----TEXT*/
.fourTextOne {
  background-color: $white;
  h3 {
    padding: 20px 0;
  }
}

/*SECTION 5*/
.sectionFive {
  background-color: $primary4;
}
.sectionFiveFlex {
  display: flex;
  justify-content: space-between;
  padding: 150px 0;
}
.fiveImg {
  img {
    box-shadow: 15px 15px $primary1;
  }
}
.fiveText {
  width: 60%;
  margin-left: 40px;
}

/*SECTION six*/
.sectionSix {
  margin: 70px 0;
}
.sixFlex {
  display: flex;
  justify-content: space-between;

  li {
    img {
      padding: 10px;
    }
  }
}

/*--------------------------------------*/
/******S T A R T O F B L O G ************?
/*--------------------------------------*/
.blogBgColor {
  background-color: $primary4;
}
/*section 1 blog post*/

.blogH1 {
  transform: translateY(-65%);
  margin: 0;
}
.blogFlex {
  display: flex;
  justify-content: space-between;
}
.asideBlog {
  width: 35%;
}
.itemOne {
  padding: 50px;
  background-color: $white;
}
.recentPosts {
  padding: 30px;
  margin-top: 20px;
  background-color: $white;
  // background-color: $white;
}
.recentPosts p {
  font-size: 1rem;
  padding-bottom: 10px;
}
.recentPosts ul li {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 10px;
  padding-bottom: 10px;
}
.recentPosts ul li a:hover {
  color: $accent;
}

/* right side of column css*/
.mainBlog {
  padding: 15px;
  background-color: $white;
  width: 60%;
  border-bottom: 4px solid $primary1;
}
.mainBlog p {
  padding-bottom: 10px;
}

/* SECTION TWO */

.sectionTwoFlex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 40px;
}

.sectionTwoText {
  display: flex;
  width: 60%;
}
.sectionTwoImg {
  padding-right: 20px;
  width: 60%;
}
.sectionTwop {
  margin-bottom: 30px;
  padding: 10px;
  p {
    padding-bottom: 10px;
  }
}
/* BLOG FORM*/

.blogForm {
  display: flex;
  justify-content: flex-end;
}

.flexForm {
  width: 60%;
  padding-bottom: 25px;
}

.labelsBlog {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

input[type="text"] {
  width: calc(100% / 2 - 30px);
  margin-right: 30px;
  padding: 20px;
}

input[type="email"] {
  width: calc(100% / 2);
  padding: 20px;
}
textarea {
  width: 100%;
  height: 25vh;
  resize: none;
  padding: 20px;
}
.postComment {
  width: 100%;
  margin-top: 15px;
}

/*--------------------------------*/
/* CONTACT PAGE STARTS*/
/*--------------------------------*/
.contactFlex {
  display: flex;
  padding-bottom: 100px;
}
.asideContact {
  padding-right: 30px;
  width: 35%;
}
/*Left side*/
.contactPad {
  background-color: $white;
  p {
    padding: 10px 10px;
  }
}
.iconFlex {
  display: flex;
  margin-bottom: 10px;
  li {
    padding: 15px 10px;
  }
  a {
    color: $primary2;
  }
  a:hover {
    color: black;
  }
  p {
    font-weight: bold;
  }
}
.contactInfo li {
  padding: 5px 10px;
}

/*right side*/

.contactForm {
  width: 65%;
}
.postComment {
  margin-bottom: 20px;
}

@import "media";
