@import "variables";
@import "setup";
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 125%;
}
.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;
}

/*HEADER*/
header {
  background-color: $primary3;
}
.mainNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainNav li a {
  padding: 0 30px;
}
.harperNav {
  font-size: 2rem;
}

.headerFlex {
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: space-between;
}

.headerImg {
  box-shadow: 30px 10px white;
  transform: translateY(10%);
  width: 40%;
}

.headerText h1 {
  font-size: 6rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}
.headerText {
  position: relative;
  padding-right: 100px;
}

.headerTextImg {
  position: absolute;
  top: 35px;
  right: 43px;
}
.headerTextImg img {
  width: 90%;
}
/*section ONE */
.sectionOneFloat {
  // display: flex;
  // flex-direction: column;
  // align-items: flex-end;
  // justify-content: center;
  display: flex;
  justify-content: flex-end;
}

.nofloat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35vh;
  width: 50%;
}

.nofloat h2 {
  margin-top: 100px;
}

.sectionTwoHome {
  margin-top: 200px;
}
/*section two*/
.imgContainer {
  max-width: 100%;
}
/*SECTION THREE*/
.sectionThreeHome {
  background-color: $primary4;
}
.gridTime {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
}
.threePad {
  padding: 70px 0;
}
/* Section 4*/
.sectionFourHome {
  // margin: 40px 0;
  background-color: $primary1;
}

/*-------IMAGES IN SECTION$*/
// .waveImg {
//   //   box-shadow: 25px 10px $primary1;
//   //   transform: translateY(-10%);
//   // }
.bgColor {
  background-color: $primary1;
}
/*-----TEXT*/
.fourTextOne {
  background-color: $white;
}
/*SECTION 5*/
.sectionFiveFlex {
  display: flex;
  justify-content: space-between;
}

.fiveText {
  width: 60%;
}

/*SECTION six*/
.sectionSix {
  margin-top: 40px;
}
.sixFlex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.sixFlex li {
  width: calc(100 / 3 - 40px);
}
/*--------------------------------------*/
/******S T A R T O F B L O G ************?
/*--------------------------------------*/
.sectionOneBlog {
  width: 100%;
  height: 70vh;
}

/*section 2 blog post*/
.blogPost {
  background-color: $primary4;
}
.blogGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-top: 50px;
}
.itemOne {
  background-color: $white;
  padding: 30px;
}
.recentPosts {
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: $white;
}
.recentPosts p {
  font-size: 2rem;
  padding-bottom: 10px;
}
.recentPosts ul li {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 10px;
  padding-bottom: 10px;
}

/* right side of column css*/
.mainBlog {
  padding: 15px;
  background-color: $white;
}
.mainBlog p {
  padding-bottom: 10px;
}
