html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 4.6rem;
  line-height: 92px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.2rem;
  letter-spacing: 1px;
  text-transform: capitalize;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: capitalize;
}

h4 {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.buttonTxt {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  background-color: #f38d8d;
  border: none;
  padding: 12px;
  margin-top: 40px;
  text-transform: capitalize;
}

.btnWidth {
  padding: 10px 30px;
}

.menuTxt {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
}

p {
  font-family: "Cabin", sans-serif;
  line-height: 29px;
  letter-spacing: 1px;
}

.copyRight {
  background-color: #171717;
  color: #ffffff;
  padding: 15px 0;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

/*HEADER*/
header {
  background-color: #b9dde7;
}

/* FOR THE MOBILES */
/* FOR THE MOBILES */
.mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainNav li a {
  padding: 0 30px;
}

.subMenu {
  height: 0;
  overflow: hidden;
  position: absolute;
}

.mainNav li:nth-child(3) {
  font-size: 2rem;
}

.headerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerImg {
  -webkit-box-shadow: 30px 10px white;
          box-shadow: 30px 10px white;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  width: 40%;
}

.headerText h1 {
  font-size: 6rem;
  font-weight: 700;
}

.headerText {
  position: relative;
  padding-right: 100px;
}

.headerTextImg {
  position: absolute;
  top: 18px;
  right: 43px;
}

.headerTextImg img {
  width: 90%;
}

/*section ONE */
.sectionOneFloat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sectionTwoHome {
  margin-top: 200px;
}

.nofloat {
  width: 50%;
}

.nofloat h2 {
  margin-top: 100px;
}

.nofloat p {
  padding: 40px 0;
}

/*section two*/
.sectionTwoHome {
  background: url(.././harper-designAndAssets/assets/home-image-2.jpg);
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*SECTION THREE*/
.sectionThreeHome {
  background-color: #f6f6f6;
}

.gridTime {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 25px;
}

.iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.iconContainer i {
  font-size: 1.2rem;
  padding: 20px;
  background-color: #b9dde7;
  position: relative;
  border-radius: 50%;
  top: -19px;
  right: 12px;
}

.test2 h3 {
  margin-bottom: 20px;
}

.threePad {
  padding: 70px 0;
}

/* Section 4*/
.waveImg {
  background-color: #68b0c1;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

.waveImgOne {
  background-color: #68b0c1;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}

.gridTime1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 25px;
}

.babyWrapper {
  max-width: 600px;
  width: 90%;
  margin-left: auto;
}

.babyWrapper1 {
  max-width: 600px;
  width: 90%;
}

.waveImgBox img {
  -webkit-transform: translate(-10px, -20px);
          transform: translate(-10px, -20px);
}

.waveImgBox2 img {
  -webkit-transform: translate(-2%, -5%);
          transform: translate(-2%, -5%);
}

/*what annnn annoyance*/
.btnAlignRight {
  text-align: right;
}

/*-------IMAGES IN SECTION$*/
.bgColor {
  background-color: #227284;
}

/*-----TEXT*/
.fourTextOne {
  background-color: #ffffff;
}

.fourTextOne h3 {
  padding: 20px 0;
}

/*SECTION 5*/
.sectionFive {
  background-color: #f6f6f6;
}

.sectionFiveFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 150px 0;
}

.fiveImg img {
  -webkit-box-shadow: 15px 15px #227284;
          box-shadow: 15px 15px #227284;
}

.fiveText {
  width: 60%;
  margin-left: 40px;
}

/*SECTION six*/
.sectionSix {
  margin: 70px 0;
}

.sixFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sixFlex li img {
  padding: 10px;
}

/*--------------------------------------*/
/******S T A R T O F B L O G ************?
/*--------------------------------------*/
.blogBgColor {
  background-color: #f6f6f6;
}

/*section 1 blog post*/
.blogH1 {
  -webkit-transform: translateY(-65%);
          transform: translateY(-65%);
  margin: 0;
}

.blogFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.asideBlog {
  width: 35%;
}

.itemOne {
  padding: 50px;
  background-color: #ffffff;
}

.recentPosts {
  padding: 30px;
  margin-top: 20px;
  background-color: #ffffff;
}

.recentPosts p {
  font-size: 1rem;
  padding-bottom: 10px;
}

.recentPosts ul li {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 10px;
  padding-bottom: 10px;
}

/* right side of column css*/
.mainBlog {
  padding: 15px;
  background-color: #ffffff;
  width: 60%;
  border-bottom: 4px solid #227284;
}

.mainBlog p {
  padding-bottom: 10px;
}

/* SECTION TWO */
.sectionTwoFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionTwoText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.sectionTwoImg {
  padding-right: 20px;
  width: 60%;
}

.sectionTwop {
  margin-bottom: 30px;
  padding: 10px;
}

/* BLOG FORM*/
.blogForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flexForm {
  width: 60%;
}

.labelsBlog {
  width: 100%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type="text"] {
  width: calc(100% / 2 - 30px);
  margin-right: 30px;
  padding: 20px;
}

input[type="email"] {
  width: calc(100% / 2);
  padding: 20px;
}

textarea {
  width: 100%;
  height: 25vh;
  resize: none;
  padding: 20px;
}

.postComment {
  width: 100%;
  margin-top: 15px;
}

/*--------------------------------*/
/* CONTACT PAGE STARTS*/
/*--------------------------------*/
.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.asideContact {
  padding-right: 30px;
  width: 35%;
}

/*Left side*/
.contactPad {
  background-color: #ffffff;
}

.contactPad p {
  padding: 10px 10px;
}

.iconFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.iconFlex li {
  padding: 15px 10px;
}

.contactInfo li {
  padding: 5px 10px;
}

/*right side*/
.contactForm {
  width: 65%;
}

@media (max-width: 1020px) {
  /*THIS IS FOR THE HEADER ON THE HOME PAGE */
  /* MINOR FIXES */
  .headerText h1 {
    font-size: 5rem;
  }
  .headerTextImg {
    top: 18px;
    right: 25px;
  }
  .headerTextImg img {
    width: 80%;
  }
  /*-----------------------------------------*/
}

@media (max-width: 960px) {
  /*THIS IS FOR THE HEADER ON THE HOME PAGE */
  .headerText {
    position: relative;
    padding-right: 50px;
    margin-left: 40px;
  }
  .headerTextImg {
    top: 18px;
    right: -23px;
  }
  /*-----------------------------------------*/
  /*THIS IS FOR SECTION 4 ON THE HOME PAGE */
  .gridTime1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 0px;
  }
  .babyWrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }
  .babyWrapper1 {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }
  .fourTextOne {
    text-align: center;
    padding-bottom: 40px;
  }
  .btnAlignRight {
    text-align: center;
  }
  .waveImgBox img {
    -webkit-transform: translate(0px, -20px);
            transform: translate(0px, -20px);
  }
  .waveImgBox2 img {
    -webkit-transform: translate(0px, -5%);
            transform: translate(0px, -5%);
  }
  /*-----------------------------*/
  /*-----------------------------*/
  /*------START OF BLOG -----------*/
  /*-----------------------------*/
  /*-----------------------------*/
  .itemOne h3 {
    font-size: 1.1rem;
  }
  .recentPosts li {
    font-size: 0.8rem;
  }
  .mainBlog h3 {
    font-size: 1.2rem;
  }
  /*-----------------------------*/
}

@media (max-width: 750px) {
  /*THIS IS FOR THE HEADER ON THE HOME PAGE */
  .mainNav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .mobile {
    height: 0;
    overflow: hidden;
    position: absolute;
  }
  .mainNav li:hover .subMenu,
  .mainNav li:focus-within .subMenu {
    height: auto;
    padding: 10px;
    overflow: auto;
  }
  .subMenu {
    font-size: 1rem;
    margin-bottom: 100px;
  }
  .mainNav li:nth-child(3) {
    font-size: 1rem;
  }
  .headerFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .headerImg {
    -webkit-box-shadow: 15px 5px white;
            box-shadow: 15px 5px white;
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
    width: 80%;
  }
  /*-----------------------------------------*/
  /*---------START OF SECTION 2----------------*/
  .nofloat {
    width: 100%;
    text-align: center;
  }
  .nofloat p {
    padding: 20px 0;
  }
  .sectionTwoHome {
    height: 30vh;
    margin-top: 40px;
  }
  /*-----------------------------------------*/
  /*---------START OF SECTION 3----------------*/
  .sectionThreeBgColor {
    background-color: #f6f6f6;
  }
  .gridTime {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 0px;
  }
  .gridTime:last-child {
    padding-bottom: 70px;
  }
  .iconContainer {
    display: block;
    text-align: center;
  }
  .iconContainer i {
    font-size: 1.2rem;
    padding: 20px;
    background-color: #b9dde7;
    position: inherit;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  .threePad {
    padding: 30px 0;
  }
  /*-----------------------------------------*/
  /*---------START OF SECTION 5----------------*/
  .sectionFive {
    background-color: #f6f6f6;
  }
  .sectionFiveFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0;
  }
  .fiveImg {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fiveImg img {
    -webkit-box-shadow: 15px 15px #227284;
            box-shadow: 15px 15px #227284;
    width: 100%;
    margin-bottom: 40px;
  }
  .fiveText {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  /*-----------------------------------------*/
  /*---------START OF SECTION 6----------------*/
  .sectionSix {
    margin: 20px 0;
  }
  .sixFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sixFlex tedt li img {
    padding: 10px;
    width: 80%;
  }
  /*-----------------------------*/
  /*-----------------------------*/
  /*------START OF BLOG -----------*/
  /*-----------------------------*/
  /*-----------------------------*/
  nav {
    padding-bottom: 50px;
  }
  .blogNav {
    padding-bottom: 10px;
  }
  .blogH1 {
    text-align: center;
    font-size: 3rem;
    -webkit-transform: translateY(-55%);
            transform: translateY(-55%);
  }
  .blogFlex {
    display: block;
    width: 100%;
  }
  .asideBlog {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .recentPosts {
    padding-bottom: 0;
  }
  .recentPosts ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .recentPosts p {
    -webkit-transform: translate(20px, 170%);
            transform: translate(20px, 170%);
    width: 50%;
    font-size: 1.5rem;
  }
  .mainBlog {
    width: 100%;
  }
  .sectionTwoText {
    width: 100%;
  }
  .sectionTwoImg {
    width: 100%;
  }
  .flexForm {
    width: 100%;
  }
  /*-----------------------------*/
  /*-----------------------------*/
  /*-----------------------------*/
  /*------START OF Contact -----------*/
  /*-----------------------------*/
  /*-----------------------------*/
  /*-----------------------------*/
}

@media (max-width: 500px) {
  /*THIS IS FOR THE HEADER ON THE HOME PAGE */
  .headerText h1 {
    font-size: 3.5rem;
    margin: 0;
  }
  .headerTextImg {
    top: -15px;
    right: 5px;
    width: 40%;
  }
  nav {
    padding-bottom: 60px;
  }
  /*-----------------------------------------*/
  /*THIS IS FOR SECTION 1 ON THE HOME PAGE */
  h2 {
    font-size: 1.7rem;
  }
}
